#name {
    position: absolute;
    top: 150px;
    left: 520px;
    width: 250px;
    height: 35px;
    font-size: 20px;
}

#room_number {
    position: absolute;
    top: 290px;
    left: 520px;
    width: 250px;
    height: 35px;
    font-size: 20px;
}

#next {
    position: absolute;
    top: 390px;
    left: 610px;
    width: 75px;
    height: 43px;
    font-size: 25px;
}

#text1 {
    position: absolute;
    top: 85px;
    left: 520px;
    font-size: 170%;
}

#text2 {
    position: absolute;
    top: 225px;
    left: 520px;
    font-size: 170%;
}